/bin
*.log
*.class
*.obj
/proj.android
/proj.ios_mac
/proj.win32/Debug.win32
/cocos2d
/proj.linux
/proj.win8.1-universal
/proj.wp8-xaml
/proj.android-studio
/proj.win10
*.sdf
*.apk
*.o
*.o.d
*.a
*.so
*.aps
*.opensdf
*.suo
/taikojiro
