<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>combonumber_balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{200,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,24}}</string>
                <key>sourceSize</key>
                <string>{200,24}</string>
            </dict>
            <key>combonumber_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,84},{250,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,38}}</string>
                <key>sourceSize</key>
                <string>{250,38}</string>
            </dict>
            <key>mtaiko.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>mtaikoflower.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{87,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,93}}</string>
                <key>sourceSize</key>
                <string>{87,93}</string>
            </dict>
            <key>progressDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{362,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,80}}</string>
                <key>sourceSize</key>
                <string>{362,80}</string>
            </dict>
            <key>progressUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,88},{253,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,30}}</string>
                <key>sourceSize</key>
                <string>{253,30}</string>
            </dict>
            <key>test1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{38,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,84}}</string>
                <key>sourceSize</key>
                <string>{38,84}</string>
            </dict>
            <key>touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainscene_1.png</string>
            <key>size</key>
            <string>{716,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9db42127e1cc166d80514adfe1da81cd:158d81fa218efd7492c378f819066527:30eaadddec5f23ca0073b1a098fcfbc3$</string>
            <key>textureFileName</key>
            <string>mainscene_1.png</string>
        </dict>
    </dict>
</plist>
